<section class="section__cart" id="cart-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx--auto">
        <h2 class="section__heading">
          VUOI FAR DIVENTARE SMART IL TUO SISTEMA RADIANTE?
        </h2>
        <h4 class="cart-text">
          <span class="text--line-through">€ 699,00</span> <span class=
          "text--primary">€ 499,00</span> <small>iva inclusa</small>
        </h4>
        <a class="btn btn-outline-primary btn--icon btn__cart">
          aggiungi al carrello
          <i aria-hidden="true" class="fa fa-shopping__cart"></i>
        </a>
      </div>
    </div>
  </div>
</section>
