<footer>
  <div class="container p-t p-b">
    <div class="flex__row flex__justifyEvenly">
      <div class="flex__item flex__item-lg-8 flex__item-md-8 flex__item-sm-10 text--center-sm">
        <div class="flex__row flex__justifyEvenly">
          <div class="flex__item">
            <a>
              <p>Logo Eurotherm</p>
            </a>
          </div>
          <div class="flex__item">
            <a>
              <p>© Eurotherm spa</p>
            </a>
          </div>
          <div class="flex__item">
            <a><p>
                CP-P.I.: 01124390210
              </p></a>
          </div>
          <div class="flex__item">
            <a><p>
                Cap soc i.v. Euro 120.000,00
              </p></a>
          </div>
          <div class="flex__item">
            <a><p>
                Cookie policy
              </p></a>
          </div>
          <div class="flex__item">
            <a><p>
                Privacy
              </p></a>
          </div>
          <div class="flex__item">
            <a>
              <p>
                Sitemap
              </p>
            </a>
          </div>
        </div>
      </div>
      <div class="flex__item flex__item-lg-2 flex__item-md-2 flex__item-sm-10">
        <div class="flex__row flex__justifyEvenly">
          <div class="flex__item flex__item-lg-7 flex__item-md-10 text--right-md text--center-sm">
            <span class="m-r">Websolute</span>
            <img src="/assets/images/logo_websolute.png" alt="logo_websolute">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
