<section class="section-climate" id="app-section">
  <div class="container">

    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <h2 class="section-heading">
          IL CLIMA PERFETTO SEMPRE SOTTO CONTROLLO
        </h2>
      </div>
    </div> <!-- END row -->

    <div class="row">

      <div class="col-lg-4">
        <div class="pro-xdr-item">
          <div class="pro-xdr-item__img">
            <img alt="" src="/assets/images/slider-product1.png">
          </div>
          <div class="pro-xdr-item__content">
            <h4>
              CONTROLLO DEI CONSUMI E DELL’EFFICIENZA
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex
            </p>
          </div>
          <div class="pro-xdr-item__action">
            <a class="btn btn-outline-primary" href="#">portale Smart
            365</a>
          </div>
        </div><!-- END pro-xdr-item -->
      </div><!-- END col-lg-4 -->

      <div class="col-lg-4">
        <div class="pro-xdr-item">
          <div class="pro-xdr-item__img">
            <img alt="" src="/assets/images/slider-product2.png">
          </div>
          <div class="pro-xdr-item__content">
            <h4>
              GESTIONE DA REMOTO
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex
            </p>
          </div>
          <div class="pro-xdr-item__action">
            <a class="btn btn-outline-primary btn-icon" href="#">iOS
            <i aria-hidden="true" class="fa fa-apple"></i></a> <a class=
            "btn btn-outline-primary btn-icon" href="#">Android
            <i aria-hidden="true" class="fa fa-android"></i></a>
          </div>
        </div><!-- END pro-xdr-item -->
      </div><!-- END col-lg-4 -->

      <div class="col-lg-4">
        <div class="pro-xdr-item">
          <div class="pro-xdr-item__img">
            <img alt="" src="/assets/images/slider-product3.png">
          </div>
          <div class="pro-xdr-item__content">
            <h4>
              hey google!
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex
            </p>
          </div>
          <div class="pro-xdr-item__action">
            <a class="link-styled" href="#">Gestione vocale</a>
          </div>
        </div><!-- END pro-xdr-item -->
      </div><!-- END col-lg-4 -->
    </div><!-- END row -->
  </div> <!-- END container -->

  <div class="container__mobile-slider">
    <app-mobile-slider></app-mobile-slider>
  </div>
</section>
