.section {
  &-space {
    padding-top: 300px;
    padding-bottom: 300px;
  }

  &__heading {

    @media(min-width: 320px) {
      font-size: 35px;
      margin-top: 5px;
    }

    @media(min-width: 768px) {
      font-size: 50px;
      margin-top: 20px;
    }

    font-size: 50px;
    line-height: 0.982;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__tagline {
    @media (min-width: 320px) {
      margin-top: 0;
    }

    @media (min-width: 768px) {
      margin-top: 15px;
    }

    font-size: 14px;
    line-height: 4.714;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 15px;
  }

  &__subheading {
    line-height: 1.25;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

.link--styled {
  border-bottom: 2px solid $red;
  color: $red;

  &:hover {
    color: darken($red, 10%) !important;
    border-bottom-color: darken($red, 10%) !important;
  }

  &.link--styled-dark {
    color: #000000;
    border-bottom-color: #000000;
  }
}

// utility
.text {
  &--uppercase {
    text-transform: uppercase;
  }

  &--thin {
    font-weight: lighter;
  }

  &--bold {
    font-weight: bold;
  }

  &--line-through {
    text-decoration: line-through
  }

  &--center {
    text-align: center;
  }

  &--primary {
    color: $red;
  }

  &--white {
    color: #fff;
  }

  &--light {
    font-weight: 300;
  }

  &--normal {
    font-weight: 400;
  }

  &--medium {
    font-weight: 500;
  }
}

.mx--auto {
  margin-left: auto;
  margin-right: auto;
}

.ml--auto {
  margin-left: auto;
}

@media(min-width: 768px) {
  .hidden--desktop {
    display: none;
  }
}

@media(max-width: 767px) {
  .hidden--mobile {
    display: none;
  }
}
