.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {

  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1200px;
  }
}

@media (min-width: 576px) {

  .flex{
    &__item{
      &-sm-1{
        width: $baseWith*1;
      }
      &-sm-2{
        width: $baseWith*2;
      }
      &-sm-3{
        width: $baseWith*3;
      }
      &-sm-4{
        width: $baseWith*4;
      }
      &-sm-5{
        width: $baseWith*5;
      }
      &-sm-6{
        width: $baseWith*6;
      }
      &-sm-7{
        width: $baseWith*7;
      }
      &-sm-8{
        width: $baseWith*8;
      }
      &-sm-9{
        width: $baseWith*9;
      }
      &-sm-10{
        width: $baseWith*10;
      }
    }
  }

}

@media (min-width: 768px) {
  .flex{
    &__item{
      &-md-1{
        width: $baseWith*1;
      }
      &-md-2{
        width: $baseWith*2;
      }
      &-md-3{
        width: $baseWith*3;
      }
      &-md-4{
        width: $baseWith*4;
      }
      &-md-5{
        width: $baseWith*5;
      }
      &-md-6{
        width: $baseWith*6;
      }
      &-md-7{
        width: $baseWith*7;
      }
      &-md-8{
        width: $baseWith*8;
      }
      &-md-9{
        width: $baseWith*9;
      }
      &-md-10{
        width: $baseWith*10;
      }
    }
  }
}

@media (min-width: 992px) {
  .flex{
    &__item{
      &-lg-1{
        width: $baseWith*1;
      }
      &-lg-2{
        width: $baseWith*2;
      }
      &-lg-3{
        width: $baseWith*3;
      }
      &-lg-4{
        width: $baseWith*4;
      }
      &-lg-5{
        width: $baseWith*5;
      }
      &-lg-6{
        width: $baseWith*6;
      }
      &-lg-7{
        width: $baseWith*7;
      }
      &-lg-8{
        width: $baseWith*8;
      }
      &-lg-9{
        width: $baseWith*9;
      }
      &-lg-10{
        width: $baseWith*10;
      }
    }
  }
}

@media (min-width: 1200px) {
  .flex{
    &__item{
      &-xl-1{
        width: $baseWith*1;
      }
      &-xl-2{
        width: $baseWith*2;
      }
      &-xl-3{
        width: $baseWith*3;
      }
      &-xl-4{
        width: $baseWith*4;
      }
      &-xl-5{
        width: $baseWith*5;
      }
      &-xl-6{
        width: $baseWith*6;
      }
      &-xl-7{
        width: $baseWith*7;
      }
      &-xl-8{
        width: $baseWith*8;
      }
      &-xl-9{
        width: $baseWith*9;
      }
      &-xl-10{
        width: $baseWith*10;
      }
    }
  }
}

.flex {

  &__row {
    display: flex;
  }

  &__justifyAround {
    justify-content: space-around;
  }

  &__justifyBetween {
    justify-content: space-between;
  }

  &__justifyEvenly {
    justify-content: space-evenly;
  }

  &__justifyEnd {
    justify-content: flex-end;
  }

  &__justifyStart {
    justify-content: flex-start;
  }

  &__item {
    &-1 {
      width: $baseWith;
    }

    &-2 {
      width: $baseWith*2;
    }

    &-3 {
      width: $baseWith*3;
    }

    &-4 {
      width: $baseWith*4;
    }

    &-5 {
      width: $baseWith*5;
    }

    &-6 {
      width: $baseWith*6;
    }

    &-7 {
      width: $baseWith*7;
    }

    &-8 {
      width: $baseWith*8;
    }

    &-9 {
      width: $baseWith*9;
    }

    &-10 {
      width: $baseWith*10;
    }

  }
}

@media(min-width: 768px){
  .flex{
    &__row{
      flex-direction: row;
    }
  }
}

@media(max-width: 767px){
  .flex{
    &__row{
      flex-direction: column;
    }
  }
}
