/* colors */
$red: #ed1d24;
$white: #ffffff;
$black: #000000;
$grey: #efefef;

/* overrides font-awesome fonts path */
$fa-font-path: "~font-awesome/fonts";

/* Spacing variables Bootstrap style */
$spacer:                     1rem !default;
$spacer-x:                   $spacer !default;
$spacer-y:                   $spacer !default;
$border-width:               .0625rem !default;


$baseWith: 10%;
