<header class="site-header" appChangeColorToHeader>
  <nav class="site-nav container">
    <div class="site-nav-inner">
      <div class="site-nav__brand">
        <h1>
          <a class="scroll" href="#top">SmartOne 365</a>
        </h1>
          <span class="text--line-through">€ 600,00</span>
          <span>€ 499,00 iva inclusa</span>
      </div>
      <ul class="site-nav__navbar">
        <li><a class="scroll" (click)="scrollToElement('section-introduction')">Panoramica</a></li>
        <li><a class="scroll" (click)="scrollToElement('section-app')">App</a></li>
        <li><a class="scroll" (click)="scrollToElement('section-specifications')">Specifiche e installazione</a></li>
        <li><a class="scroll" (click)="scrollToElement('section-download')">Download</a></li>
        <li>
          <a class="scroll btn btn-primary" (click)="scrollToElement('cart-section')">aggiungi
            al carrello</a>
        </li>
      </ul>
    </div><!-- END site-nav-inner -->
  </nav><!-- END site-nav container -->
</header>
<!--END site-header-->
