<section class="section__cart" id="cart-section">
  <div class="container">
    <div class="flex__row">
      <div class="flex__item-6 mx--auto">
        <h2 class="section__heading">
          VUOI FAR DIVENTARE SMART IL TUO SISTEMA RADIANTE?
        </h2>
        <h4 class="cart-text">
          <span class="text--line-through">€ 699,00</span> <span class=
          "text--primary">€ 499,00</span> <small>iva inclusa</small>
        </h4>
        <a class="btn btn-outline-primary btn--icon btn__cart">
          aggiungi al carrello
          <img src="/assets/images/cart_icon.png" alt="cart_icon">
        </a>
      </div>
    </div>
  </div>
</section>
