<section class="section__specifiche">
  <div class="container">
    <div class="flex__row">
      <div class="flex__item-sm-10 flex__item-md-6" id="section-specifications">
        <h3 class="specifiche__heading text--center">
          Specifiche e installazione
        </h3>
        <div class="specifiche-list">
          <div class="specifiche-list__item">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing
            </p><span>50 x 50 x 2,5 cm</span>
          </div>
          <div class="specifiche-list__item">
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit
              esse
            </p><span>900g</span>
          </div>
          <div class="specifiche-list__item">
            <p>
              Excepteur sint occaecat cupidatat non proident
            </p><span>Excepteur sint occaecat</span>
          </div>
          <div class="specifiche-list__item">
            <p>
              Sunt in culpa qui officia deserunt mollit anim id est laborum
            </p><span>deserunt mollit anim id est</span>
          </div>
          <div class="specifiche-list__item">
            <p>
              Sunt in culpa qui officia deserunt mollit anim id est laborum
            </p><span>Excepteur sint occaecat</span>
          </div>
        </div>
        <div class="spc-bottom-content text--center">
          <h4 class="m-t-lg m-b-lg">
            Installazione fast plug semplice e veloce o il nostro centro
            assistenza sempre a disposizione
          </h4>
          <div class="spc-bottom-link-group flex__row flex__justifyAround">
            <a (click)="openSidePanel()" class="btn btn-outline-primary">Video
            installazione</a>
            <p>
              <span class="text--light">oppure</span> <a class=
              "link--styled link--styled-dark"> trova centro
              assistenza</a>
            </p>
          </div>
        </div>
      </div>

      <div class="flex__item-sm-10 flex__item-md-4 text--center" id="section-download">
        <h3 class="specifiche__heading text--center">
          download
        </h3>
          <img class="img__map" alt="map" src="/assets/images/map.png">
          <a (click)="openSidePanel()" class="btn btn-outline-primary">
            scarica la brochure
          </a>
      </div>

    </div>
  </div>
</section>
