.section {
  &__specifiche {


    h3 {
      text-transform: uppercase;
      margin-bottom: 30px;

      @media(max-width:768px) {
        text-align: center;
      }
    }

    .img {
      &__map {
        margin-top: -35px;
        width: 85%;
      }
    }

    @media(min-width: 769px){
      padding-top: 120px;
    }
  }
}
