.section {
  &__specifiche {
    padding-top: 120px;

    h3 {
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    .img {
      &__map {
        margin-top: -35px;
        width: 85%;
      }
    }
  }
}
