@import '../../../../assets/styles/index.scss';
.section {
  &__specifiche {

    h3 {
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    .img {
      &__map {
        margin-top: -35px;
        width: 85%;
      }
    }

    // specifiche
    .specifiche-list {
      &__item {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 400;

        >p {
          margin-bottom: 0;
        }

        >span {
          color: $red;
          margin-left: 20px;
          text-align: right;
        }
      }
    }
  }
}
