<section class="section-specifiche" id="specifiche-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h3 class="specifiche-heading">
          Specifiche e installazione
        </h3>
        <div class="specifiche-list">
          <div class="specifiche-list__item">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing
            </p><span>50 x 50 x 2,5 cm</span>
          </div>
          <div class="specifiche-list__item">
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit
              esse
            </p><span>900g</span>
          </div>
          <div class="specifiche-list__item">
            <p>
              Excepteur sint occaecat cupidatat non proident
            </p><span>Excepteur sint occaecat</span>
          </div>
          <div class="specifiche-list__item">
            <p>
              Sunt in culpa qui officia deserunt mollit anim id est laborum
            </p><span>deserunt mollit anim id est</span>
          </div>
          <div class="specifiche-list__item">
            <p>
              Sunt in culpa qui officia deserunt mollit anim id est laborum
            </p><span>Excepteur sint occaecat</span>
          </div>
        </div>
        <div class="spc-bottom-content">
          <h4>
            Installazione fast plug semplice e veloce o il nostro centro
            assistenza sempre a disposizione
          </h4>
          <div class="spc-bottom-link-group">
            <a class="btn btn-outline-primary" href="#">Video
            installazione</a>
            <p>
              <span class="font-light">oppure</span> <a class=
              "link-styled link-styled-dark" href="">trova centro
              assistenza</a>
            </p>
          </div>
        </div>
      </div><!-- END col-lg-7 -->

      <div class="col-lg-5 text-center">
        <h3 class="specifiche-heading">
          download
        </h3><img alt="" src="/assets/images/bg_image6.png"> <a class=
        "btn btn-outline-primary" href="#">scarica la brochure</a>
      </div> <!-- END col-lg-5 -->

    </div> <!-- END row -->
  </div> <!-- END container -->
</section> <!-- END section -->
