<!-- main -->
<section class="main">
  <app-header></app-header>
  <app-introduction (openingPanel)="openSidePanel()"></app-introduction>
  <app-characteristics (openingPanel)="openSidePanel()"></app-characteristics>
  <app-specifications></app-specifications>
  <app-cart></app-cart>
  <app-footer></app-footer>
</section>

<!-- side panel -->
<section *ngIf="isShowingSidePanel" class="sidebar" [@slideInOut]>
  <app-side-panel (closingPanel)="closeSidePanel()"></app-side-panel>
</section>

<!-- menu-mobile -->
<!-- <app-menu-mobile></app-menu-mobile> -->
