@import '../../../../assets/styles/index.scss';

$basePadding: 100px;

@mixin background-size-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@function calculate-padding($sum) {
  @return $basePadding+$sum;
}

@function background-image($url) {
  @return url($url) no-repeat center center;
}

.section {

  .flex__item {
    padding: 0 5vh;
  }

  &__misura {
    background: background-image('/assets/images/bg_image2.png');
    @include background-size-cover;
  }

  &__piacevole {
    background: background-image('/assets/images/bg_image3.png');
    @include background-size-cover;
  }

  &__comfort {
    background: background-image('/assets/images/bg_image4.png');
    @include background-size-cover;
  }

  &__cambia {
    background: background-image('/assets/images/bg_image5.png');
    @include background-size-cover;
  }
}

/* @media(max-width: 767px) {
  .section {
    text-align: center;

    img {
      max-width: 60%;
      margin-top: 2vh;
    }

    p {
      margin: 4vh;
    }
  }
} */

@media(min-width: 768px) {
  .section {
    &__misura {
      padding-top: $basePadding;
      padding-bottom: $basePadding;
    }

    &__piacevole {
      padding-top: $basePadding;
      padding-bottom: $basePadding;
    }

    &__comfort {
      padding-top: calculate-padding(100);
      padding-bottom: calculate-padding(100);
    }

    &__cambia {
      padding-top: calculate-padding(100);
      padding-bottom: calculate-padding(200);
    }
  }
}
