<!-- <section id="section-1" class="section-one">
  <div class="section__sub bg__1">
    <div class="section__content">
      <button (click)="openSidePanel()">OPEN SIDE PANEL</button>
    </div>
  </div>
  <div class="section__sub bg__2"></div>
  <div class="section__sub bg__3"></div>
  <div class="section__sub bg__4"></div>
  <div class="section__sub bg__5"></div>
</section>
 -->


<section class="section section__introduction p-b">
  <img alt="" src="assets/images/bg-image1b.png">
  <div class="container" id="section-introduction">
    <div class="flex__row">
      <div class="flex__item flex__item-sm-10 flex__item-md-7 mx--auto text--center">
        <h6 class="section__tagline">
          regolazione monozona smartone 365
        </h6>
        <h2 class="section__heading">
          fai un gesto semplice
        </h2>
        <h4 class="section__subheading">
          Avvolgi la tua casa nel comfort, avvolgi la tua famiglia nel
          benessere.
        </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
          diam nonummy nibh euismod tincidunt ut laoreet dolore magna
          aliquam erat Lorem ipsum dolor sit amet, consectetuer adipiscing
          elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat.
        </p>
      </div><!-- END col-lg-7 -->
    </div><!-- END row -->
  </div><!-- END container -->
</section><!-- END intro -->


<section class="section section__misura">
  <div class="container">
    <div class="flex__row flex__justifyAround">
      <div class="flex__item flex__item-sm-10 flex__item-md-4">
        <h6 class="section__tagline">
          efficiente
        </h6>
        <h2 class="section__heading">
          A MISURA<br>
          DI AMBIENTE
        </h2>
        <p>
          Il funzionamento del sistema di regolazione<br>
          SmartOne 365 si avvale dell’algoritmo<br>
          <span class="link--styled" (click)="openSidePanel()">PID (Proportional Integral Derivative
            Strategy)</span><br>
          che permette al sistema di rimanere “bilanciato”<br>
          e trasferire così la corretta temperatura<br>
          superficiale radiante risparmiando energia,<br>
          accrescendo il comfort ambientale e apportando<br>
          una maggiore efficienza all’interno del sistema.
        </p>
      </div>
      <div class="flex__item flex__item-sm-10 flex__item-md-4">
        <img src="/assets/images/product_image2.png" alt="product2">
      </div>
    </div>
  </div>
</section><!-- END intro-hero -->



<section class="section section__piacevole">
  <div class="container">
    <div class="flex__row flex__justifyEnd">
      <div class="flex__item flex__item-sm-10 flex__item-md-4 ml-auto">
        <h6 class="section__tagline">
          si adatta al tuo ritmo
        </h6>
        <h2 class="section__heading">
          UN PIACEVOLE RISVEGLIO A UNA TEMPERTURA NATURALE
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
          diam nonummy nibh euismod tincidunt ut laoreet dolore. <span class="link--styled" (click)="openSidePanel()">Optimum START/STOP</span>
          Lorem ipsum dolor
          sit amet, consectetuer adipiscing elit, <span class="link--styled" (click)="openSidePanel()">Autoregolazione della curva climatica</span>
          sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
          euismod tincidunt erat volutpat.
        </p>
      </div>
    </div> <!-- END row -->
  </div> <!-- END container -->
</section> <!-- END section -->


<section class="section section__comfort">
  <div class="container">
    <div class="flex__row flex__justifyStart">
      <div class="flex__item flex__item-sm-10 flex__item-md-4 text--white">
        <h6 class="section__tagline text--white">
          risparmia quando sei fuori casa
        </h6>
        <h2 class="section__heading text--white">
          COMFORT E RISPARMIO
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
          diam nonummy nibh euismod tincidunt ut laoreet dolore. <span class="link--styled" (click)="openSidePanel()">FUNZIONE AWAY</span> Lorem
          ipsum dolor sit
          amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
          tincidunt ut laoreet dolore magna.
        </p>
      </div>
    </div> <!-- END row -->
  </div> <!-- END container -->
</section> <!-- END section -->


<section class="section section__cambia">
  <div class="container">
    <div class="flex__row flex__justifyAround">
      <div class="flex__item flex__item-sm-10 flex__item-md-4">
        <img src="/assets/images/product_image3.png" alt="product3">
      </div>
      <div class="flex__item flex__item-sm-10 flex__item-md-4 ml-auto">
        <h6 class="section__tagline">
          si adatta al clima esterno
        </h6>
        <h2 class="section__heading">
          IL CLIMA CAMBIA IL COMFORT NO
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
          diam nonummy nibh euismod tincidunt ut laoreet dolore. <span class=
          "link--styled" (click)="openSidePanel()">FUNZIONE METEO</span> Lorem ipsum dolor sit
          amet, consectetuer adipiscing elit, ed diam nonummy nibh euismod
          tincidunt ut laoreet dolore magna aliquam euismod tincidunt erat
          volutpat.
        </p>
      </div> <!-- END col-lg-4 -->
    </div> <!-- END row -->
  </div> <!-- END container -->
</section>
