@import '../../../../assets/styles/index.scss';

$basePadding: 100px;

@mixin background-size-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@function calculate-padding($sum) {
  @return $basePadding+$sum;
}

@function background-image($url) {
  @return url($url) no-repeat center center;
}

.section {

  .flex__item{
    padding: 0 5vh;
  }

  &__misura {
    padding-top: $basePadding;
    padding-bottom: $basePadding;
    background: background-image('/assets/images/bg_image2.png');
    @include background-size-cover;
  }

  &__piacevole {
    padding-top: $basePadding;
    padding-bottom: $basePadding;
    background: background-image('/assets/images/bg_image3.png');
    @include background-size-cover;
  }

  &__comfort {
    padding-top: calculate-padding(100);
    padding-bottom: calculate-padding(100);
    background: background-image('/assets/images/bg_image4.png');
    @include background-size-cover;
  }

  &__cambia {
    padding-top: calculate-padding(100);
    padding-bottom: calculate-padding(200);
    background: background-image('/assets/images/bg_image5.png');
    @include background-size-cover;
  }
}
