<section class="section__section__sidebar">
  <div class="section__sidebar__close" (click)="closePanel()">
    <a><img alt="" src="/assets/images/close_icon.svg"></a>
  </div>
  <div class="section__sidebar__inner">
    <h2 class="section__heading">
      Algoritmo PID
    </h2>
    <p>
      Il sistema di regolazione SmartOne 365 si avvale del Proportional
      Integral Derivative Strategy (PID), algoritmo che permette di gestire
      l’impianto radiante con la&nbsp;massima efficienza, modulando la
      potenza termica immessa in ogni ambiente.
    </p>
    <p>
      Grazie alla configurazione guidata error free, funzionante anche
      senza connessione internet e disponibile su display e app, l’intero
      processo di installazione è facile e veloce.
    </p><img alt="" src="/assets/images/chart.png">
  </div> <!-- END section__sidebar__inner -->
</section>
