<swiper [config]="swiperConfig">

  <ng-template swiperSlide>
    <img src="../../../assets/images/slider-product1.png" alt="product_specification_1">
    <div class="pro-xdr-item__content">
      <h4>
        CONTROLLO DEI CONSUMI E DELL’EFFICIENZA
      </h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex
      </p>
    </div>
    <div class="pro-xdr-item__action">
      <a  (click)="openSidePanel()" class="btn btn-outline-primary">portale Smart
        365</a>
    </div>
  </ng-template>

  <ng-template swiperSlide>
    <img src="../../../assets/images/slider-product2.png" alt="product_specification_2">
    <div class="pro-xdr-item__content">
      <h4>
        GESTIONE DA REMOTO
      </h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex
      </p>
    </div>
    <div class="pro-xdr-item__action">
      <a  (click)="openSidePanel()" class="btn btn-outline-primary btn--icon">
        iOS
        <img src="/assets/images/apple_icon.svg" alt="apple_icon">
      </a>
      <a  (click)="openSidePanel()" class="btn btn-outline-primary btn--icon">
        Android
        <img src="/assets/images/android_icon.svg" alt="android_icon">
      </a>
    </div>
  </ng-template>

  <ng-template swiperSlide>
    <img src="../../../assets/images/slider-product3.png" alt="product_specification_3">
    <div class="pro-xdr-item__content">
      <h4>
        hey google!
      </h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex
      </p>
    </div>
    <div class="pro-xdr-item__action">
      <span class="link--styled" (click)="openSidePanel()">Gestione vocale</span>
    </div>
  </ng-template>
</swiper>
