.section {
  &__climate {
    padding-top: 60px;
    padding-bottom: 150px;
    background: #efefef;

    .section__heading {
      margin-bottom: 50px;
    }
  }
}

@media(max-width: 991px) {
  .hide-on-laptop {
    display: none;
  }

  .show-on-laptop {
    display: block;
  }
}


@media(min-width: 992px) {
  .hide-on-laptop {
    display: flex;
  }

  .show-on-laptop {
    display: none;
  }
}
