<section class="section__climate" id="section-app">
  <div class="container">

    <div class="flex__row">
      <div class="flex__item-7 mx--auto text--center">
        <h2 class="section__heading">
          IL CLIMA PERFETTO SEMPRE SOTTO CONTROLLO
        </h2>
      </div>
    </div> <!-- END row -->

    <div class="flex__row flex__justifyAround hide-on-laptop">

      <div class="flex__item-3">
        <div class="pro-xdr-item">
          <div class="pro-xdr-item__img">
            <img alt="" src="/assets/images/slider-product1.png">
          </div>
          <div class="pro-xdr-item__content">
            <h4>
              CONTROLLO DEI CONSUMI E DELL’EFFICIENZA
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex
            </p>
          </div>
          <div class="pro-xdr-item__action">
            <a  (click)="openSidePanel()" class="btn btn-outline-primary">portale Smart
              365</a>
          </div>
        </div><!-- END pro-xdr-item -->
      </div>

      <div class="flex__item-3">
        <div class="pro-xdr-item">
          <div class="pro-xdr-item__img">
            <img alt="" src="/assets/images/slider-product2.png">
          </div>
          <div class="pro-xdr-item__content">
            <h4>
              GESTIONE DA REMOTO
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex
            </p>
          </div>
          <div class="pro-xdr-item__action flex__row">
            <a  (click)="openSidePanel()" class="btn btn-outline-primary btn--icon">
              iOS
              <img src="/assets/images/apple_icon.svg" alt="apple_icon">
            </a>
            <a  (click)="openSidePanel()" class="btn btn-outline-primary btn--icon">
              Android
              <img src="/assets/images/android_icon.svg" alt="android_icon">
            </a>
          </div>
        </div><!-- END pro-xdr-item -->
      </div>

      <div class="flex__item-3">
        <div class="pro-xdr-item">
          <div class="pro-xdr-item__img">
            <img alt="" src="/assets/images/slider-product3.png">
          </div>
          <div class="pro-xdr-item__content">
            <h4>
              hey google!
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex
            </p>
          </div>
          <div class="pro-xdr-item__action">
            <span class="link--styled" (click)="openSidePanel()">Gestione vocale</span>
          </div>
        </div><!-- END pro-xdr-item -->
      </div>
    </div><!-- END row -->


    <div class="show-on-laptop">
      <app-mobile-slider (onOpenPanel)="openSidePanel()"></app-mobile-slider>
    </div>
  </div> <!-- END container -->


</section>
