<input type="checkbox" id="overlay-input" />
<label [class]="{'visible': isShowingMenu}" for="overlay-input" id="overlay-button" (click)="toggleMenu()">
  <span></span>
</label>
  <div id="overlay">
    <ul class="text--center">
        <li><a class="scroll" (click)="scrollToElement('section-introduction')">Panoramica</a></li>
        <li><a class="scroll" (click)="scrollToElement('section-app')">App</a></li>
        <li><a class="scroll" (click)="scrollToElement('section-specifications')">Specifiche e installazione</a></li>
        <li><a class="scroll" (click)="scrollToElement('section-download')">Download</a></li>
    </ul>
  </div>
