/* You can add global styles to this file, and also import other style files */
@import '../src/assets/styles/index.scss';

html {
  scroll-behavior: smooth
}

.section {
  width: 100%;

  &__misura,
  &__piacevole,
  &__comfort,
  &__cambia,
  &__climate,
  &__specifiche,
  &__cart {
    @media (max-width:768px) {
      padding-top: 120px !important;
      padding-bottom: 120px !important;
      background-position: right !important;
    }

    @media (max-width:576px) {
      padding-top: 60px !important;
      padding-bottom: 60px !important;
    }
  }

}





/// pro-xdr-item

.pro-xdr-item {
  margin-top: 30px;
  text-align: center;

  &__img {
    @media (min-width:992px) {
      min-height: 280px;
    }

    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__content {
    margin-bottom: 30px;

    >h4 {
      font-size: 22px;
      font-weight: 300;
      margin-top: 30px;
      margin-bottom: 20px;
      text-transform: uppercase;
      min-height: 50px;
    }

    p {
      font-weight: 400;
    }
  }

  &__action {
    .btn {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}


/// specifiche

.specifiche-list {
  &__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;

    >p {
      margin-bottom: 0;
    }

    >span {
      color: $red;
      margin-left: 20px;
    }
  }
}

.spc-bottom-content {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  >h4 {
    font-size: 20px;
    margin-top: 55px;
    margin-bottom: 55px;
    font-weight: 500;
    line-height: 1.5;
  }
}

.spc-bottom-link-group {
  >p {
    margin-top: 20px;
  }

  @media (min-width:992px) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >p {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}


.cart-text {
  color: #989898;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;

  span {
    margin-left: 5px;
    margin-right: 5px;
  }

  small {
    font-weight: 300;
  }
}

.btn__cart {
  min-width: 300px;

  .fa {
    margin-left: 20px;
  }
}
