@import '../src/assets/styles/index.scss';

$icon_android_red_path: './assets/images/android_icon.svg';
$icon_android_white_path: './assets/images/android_icon-white.png';
$icon_apple_red_path: './assets/images/apple_icon.svg';
$icon_apple_white_path: './assets/images/apple_icon-white.png';
$icon_cart_red_path: './assets/images/cart_icon.png';
$icon_cart_white_path: './assets/images/cart_icon-white.png';

html {
  scroll-behavior: smooth
}

.section {
  width: 100%;

  &__misura,
  &__piacevole,
  &__comfort,
  &__cambia,
  &__climate,
  &__specifiche,
  &__cart {

    @media (max-width:768px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }


  }


  &__misura,
  &__piacevole,
  &__comfort,
  &__cambia,
  &__climate {

    @media (max-width:768px) {
      padding-top: 25px;
      padding-bottom: 50px;


      img {
        width: 55%;
        margin-top: 2vh;
      }

      p {
        margin: 4vh;
      }
    }
  }

}

// pro-xdr-item
.pro-xdr-item {
  margin-top: 30px;

  &__img {
    @media (min-width:992px) {
      min-height: 280px;
    }

    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__content {
    margin-bottom: 30px;

    >h4 {
      font-size: 22px;
      font-weight: 300;
      margin-top: 30px;
      margin-bottom: 20px;
      text-transform: uppercase;
      min-height: 50px;
    }

    p {
      font-weight: 400;
    }
  }

  &__action {
    .btn {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.spc-bottom-content {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;

  >h4 {
    font-size: 20px;
    margin-top: 55px;
    margin-bottom: 55px;
    font-weight: 500;
    line-height: 1.5;
  }
}

.spc-bottom-link-group {
  >p {
    margin-top: 20px;
  }

  @media (min-width:992px) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >p {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

.container {
  &__icon {
    width: 12px;
    height: 12px;
    &-android {
      background: background-image($icon_android_red_path);
      background-size: 90%;
    }
    &-apple {
      background: background-image($icon_apple_red_path);
      background-size: 90%;
    }
    &-cart{
      width: 20px;
      height: 20px;
      background: background-image($icon_cart_red_path);
      background-size: 90%;
    }
  }
}

.btn--icon,
.btn__cart {
  &:hover {
    .container {
      &__icon {
        &-android {
          background: background-image($icon_android_white_path);
          background-size: 90%;
        }
        &-apple {
          background: background-image($icon_apple_white_path);
          background-size: 90%;
        }
        &-cart{
          background: background-image($icon_cart_white_path);
          background-size: 90%;
        }
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .spc-bottom-content {
    max-width: 100%;
  }
}
